@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin:0;
  padding: 0;
  background: #e8354b;
}

*{
  /* outline: 1px solid white; */
}


.container-profile-header{
  height: 200px;
  overflow: hidden;
}
.container-profile-header img{
  transform: rotate(-1deg) scale(1.4) translate(-0px, 50px);
}
.container-profile-body{
  height: 400px;
  width: 100%;
  /* outline:1px solid white; */
  position: relative;
}




.container-profile-body .container-person{
  /* position: absolute; */
  /* outline: 5px solid purple; */
  height: 500px;
  left:50%;
  top:-25%;
  width:500px; 
  translate: (50%,50%);
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  /* overflow: hidden; */
  /* overflow-x:hidden;   */
  max-height: 500px;
  /* overflow-y:visible !important;  */
}


.container-profile-body .container-person .container-person-pic {
  width: 200px;
  height: 350px;
  /* outline: 1px solid white; */
  /* border: 1px solid white; */
  position: absolute;
  top:30px;
  left: 50px;
}

.container-profile-body .container-person .container-person-pic img{
  width: 180px;
  height: 300px;
  display: block;
  margin: 0 auto
}


.container-profile-body .container-person .container-person-title{
  height: 600px;
  position: relative;
  width: 300px;

  /* outline: 1px solid red; */
  top:-5%;
  /* bottom: -100%; */
  right:-55%;
  overflow-x: hidden;
}

.container-profile-body .container-person .container-person-title h2{
  letter-spacing:4px;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent,#056dae); */
  font-size:65px;
  text-decoration:none;
  font-family: IL,Arial,Helvetica,sans-serif;
  text-transform:uppercase;
  -webkit-text-stroke: 1px #000;
  margin-bottom: 10px;
  margin-top: 10px;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow: hidden;
}

.container-profile-body .container-person .container-person-title h2.title-profil#title-2{
  padding-left: 45px;

}

.container-profile-body .container-person .container-person-title h2.title-profil#title-3{
  margin-bottom: 80px;
}


.container-profile-body .container-person .container-person-text-prin{
  height: 60px;
  width: 80%;
  position: absolute;
  bottom: 200px;
  /* outline: 10px solid red; */
  z-index: 100000000;
  left: 200px;
  overflow: hidden;
  /* right:450px; */
}

.container-profile-body .container-person .container-person-text-prin h2.title-profil#title-4{
  -webkit-text-stroke: none;
  color:transparent;
  /* outline: 10px solid white; */
  font-size:12px;
  /* padding-left: 0px; */
  position: absolute;
  /* top: 0px;
  left: -50px; */
  margin: 0;
  font-size:65px;
  text-decoration:none;
  font-family: IL,Arial,Helvetica,sans-serif;
  text-transform:uppercase;
  -webkit-text-stroke: 3px #000;
  white-space: nowrap;
  overflow: hidden;
}





.container-profile-body .container-person .container-person-descrip{
  height: 300px;
  width: 50%;
  position: absolute;
  bottom: -150px;
  /* outline: 1px solid red; */
  z-index: 1;
  left: 50px;
} 


.container-profile-body .container-person .container-person-descrip p {
  color:white;
  z-index: 400;
}




.container-profile-footer{
  height: 200px;
  overflow: hidden;
}

.container-profile-footer img{
  transform: rotate(-1deg) scale(1.4) translate(100px, 0px);
}





/* transform: scale(1.5); */


section .scroll div{
  color:#000;
  font-size:4em;
  background:rgb(255, 198, 0);
  white-space:nowrap;
  font-weight:900;
  text-transform:uppercase;
  animation: animate 20s linear infinite;
  animation-delay: -40s;
}
section .scroll div span{
   -webkit-text-stroke: 2px #000;
   color:transparent;
 }



 a{
   position:relative;
   display:inline-block;
   padding:25px 30px;
   margin:40px 0;
   color:#056dae;
   font-size:24px;
   text-decoration:none;
   font-family: IL,Arial,Helvetica,sans-serif;
   text-transform:uppercase;
   overflow:hidden;
   transition:.5s;
   letter-spacing:4px;
   -webkit-box-reflect: below 1px linear-gradient(transparent,#056dae);
 }
 a:hover{
   background:#056dae;
   color:#fff;
   box-shadow:0 0 5px #056dae,
              0 0 25px #056dae,
              0 0 50px #056dae,
               0 0 200px #056dae;
 }